<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>E-shop</title>
    </head>

    <body>
        <div id="app">
            <header>
                <div class="logo">E-shop</div>
                <div class="cart">
                    <form action="#" class="search-form" @submit-prevent="filter">
                        <input type="text" class="search-field" v-model="userSearch" @input="filter()">
                        <button class="btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    <button @click="show = !show" class="btn-cart" type="button">Корзина</button>
                    <div class="cart-block" v-show="show">
                        <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                            <div class="product-bio">
                                <img :src="imgCart" alt="some img">
                                <div class="product-desc">
                                    <div class="product-title">{{item.product_name}}</div>
                                    <div class="product-quantity">{{item.quantity}}</div>
                                    <div class="product-single-price">{{item.price}}</div>
                                    <div class="product-total-price">Total price: {{item.price*item.quantity}}$</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
            <main>
                <div class="products">
                    <div class="product-item" v-for="product of filtered" :key="product.id_product">
                        <img :src="imgCatalog" alt="img not available">
                        <div class="desc">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.product_price}} $</p>
                            <button class="buy-btn" @click="addProduct(product)">Купить</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
        <script src="js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue/js"></script>
    </body>

</html>